.tickbg {content:"\00a0";
    border: solid 8px #00CD00;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    height: 0;
    width: 0;
    display: block;}
    

.tick {
  height: 6px;
  width: 3px;
  border: solid #FFFFFF;
  border-width: 0px 2px 2px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  display: block;
   margin-top: -5px;
   margin-left: -2px;
}

.card {
    max-width: 200;
    min-width: 180;
    background-color: white;
    margin-left: 1.5rem;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;

}
.card :hover {
    background-color: rgb(243,248,239);
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
    border: 1px solid rgb(165,201,138);
}

.bullet {
    display:inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}
.title {
    font-size: 14,
}
.pos {
    margin-bottom: 12,
}

.tickmark{
font-size: 16px ;
    margin-bottom: 1em;
    list-style-type: none;
    padding: .25em 0 0 2.5em;
    position: relative;
    
    
}
.tickmark :before{
content: " ";
display: block;
border: solid .8em orange;
border-radius: .8em;
height: 0;
width: 0;
position: absolute;
left: .5em;
top: 40%;
margin-top: -.5em;
}

.tickmark :after{
content: " ";
display: block;
width: .3em;
height: .6em;
border: solid #fff;
border-width: 0 .2em .2em 0;
position: absolute;
left: 1em;
top: 40%;
margin-top: -.2em;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

