.search {
  width: 100%;
  display: flex;
  width: 20%;
  left: 70%;
  margin-left: 57%;
  margin-top: 1.4%;
}

.searchTerm {
  width: 100%;
  border-right: none;
  padding: 5px 15px;
  height: 1.5rem;
  border-radius: 8px 0 0 8px;
  outline: none;
  color: rgb(116, 121, 118);
  background-color: rgb(237,237,237);
  border: none;
  font-weight: bolder;
}

.searchTerm:focus{
  color: rgb(139, 147, 151);
}

.searchButton {
  width: 40px;
  border: 1px solid rgb(113,183,62);
  background: rgb(113,183,62);
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;

  height: 2.2rem;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.toolbar{
    display: flex;
}